$paddingSideMobile: 20px;
$paddingSideDesktop: 40px;

$colorCritical: #db5341;
$colorYellow: #ffd93e;
$colorBlack: #333333;
$colorGreyLight: #fafafa;
$colorGreyDark: #e5e5e5;

$mobileMaxWidth: 768px;
$tabletMaxWidth: 1024px;
$bigDesktopMinWidth: 1920px;

$baseFontSize: 10px;

$fontBold: Arial-BoldMT;
$fontRegular: Arial;
