@import "../../styles/vars";
@import "../../styles/utils";

.Button {
  display: block;
  width: 132px;
  height: 54px;
  line-height: 54px;
  border-radius: 8px;
  font-size: rem(18);
  color: #000000;
  text-align: center;
  cursor: pointer;
  border: none;
  font-family: $fontBold;

  &_theme {
    &_yellow {
      background: $colorYellow;
    }

    &_grey {
      background: $colorGreyDark;
    }
  }
}
