@import "../../styles/vars";
@import "../../styles/utils";

.widget {
  background: $colorGreyLight;
  border-radius: 20px;
  cursor: pointer;
  padding: 20px;
  display: grid;
  grid-template-rows: min-content 1fr;
  position: relative;

  @include media("mobile") {
    margin-bottom: 14px;
  }

  &__control {
    position: absolute;
    display: none;
    transition: 0.2s ease;

    &-icon {
      width: 16px;
      height: 16px;

      @include media("mobile") {
        width: 12px;
        height: 12px;
      }
    }

    &:hover {
      opacity: 0.75;
    }

    &_close {
      right: 25px;
      top: 20px;
    }

    &_link {
      right: 28px;
      bottom: 25px;
    }
  }

  &-header {
    color: #333333;

    &-about {
      display: flex;
      align-items: center;
      margin-bottom: 23px;

      @include media("mobile") {
        margin-bottom: 16px;
      }

      &__title {
        font-family: $fontBold;
        font-size: rem(24);
        word-break: break-all;
        -webkit-box-orient: vertical;
        display: -webkit-inline-box;
        -webkit-line-clamp: 2;

        @include media("mobile") {
          font-size: rem(14);
        }
      }

      &__icon {
        margin-right: 18px;
        width: 55px;
        height: 55px;

        @include media("mobile") {
          width: 35px;

          &.icon_stats {
            width: 45px;
          }
        }
      }
    }

    &-data {
      display: flex;
      justify-content: space-between;
      color: $colorBlack;
    }

    &__type {
      font-size: rem(18);
      margin-bottom: 20px;

      @include media("mobile") {
        margin-bottom: 0;
        font-size: rem(12);
      }
    }

    &__date {
      font-size: rem(18);

      @include media("mobile") {
        font-size: rem(12);
      }
    }
  }

  &-content {
    margin-top: 15px;
    display: grid;

    @include media("mobile") {
      margin-top: 15px;
    }

    // it isn't perfect

    & > * {
      &:first-child {
        align-self: start;
      }

      &:last-child {
        align-self: end;
      }
    }

    &__text {
      font-size: rem(20);
      line-height: rem(23);
      max-width: 430px;

      @include media("mobile") {
        font-size: rem(18);
      }

      &_width {
        &-l {
          max-width: 640px;
        }

        font-size: rem(24);
        line-height: rem(28);

        @include media("mobile") {
          font-size: rem(18);
          font-size: rem(22);
        }
      }
    }

    &__image {
      width: 100%;
      margin-top: 32px;

      &_type-stats {
        border-radius: 0 0 20px 20px;
        margin-top: 52px;
      }

      &_type-cam {
        border-radius: 20px;

        @include media("mobile") {
          height: 205px;
        }
      }
    }

    &__sensors {
      display: flex;
      list-style: none;

      @include media("mobile") {
        justify-content: space-between;
      }
    }

    &__buttons {
      display: flex;
      margin-top: 10px;

      @include media("mobile") {
        justify-content: space-between;
        margin-top: 24px;
      }
    }
  }

  &-sensor {
    margin-right: 55px;
    margin-top: 30px;
    font-size: rem(18);

    &:last-child {
      margin-right: 0;
    }

    &__value {
      margin-left: 5px;
      font-family: $fontBold;
    }

    @include media("mobile") {
      font-size: rem(14);
      margin-right: 0;
    }
  }

  &_size {
    &-l {
      grid-column: span 4;
      grid-row: span 3;
    }

    &-m {
      grid-column: span 3;
      grid-row: span 2;
    }

    &-s {
      grid-column: span 2;

      .widget-header-data {
        display: block;

        @include media("mobile") {
          display: flex;
        }
      }
    }
  }

  &_type {
    &-critical {
      .widget-header {
        background: $colorCritical;
        margin: -20px -20px 0 -20px;
        padding: 20px 20px 40px 20px;
        border-radius: 20px 20px 0 0;
        color: #fff;

        &-data {
          color: #fff;
        }
      }

      .widget-content {
        border-radius: 20px 20px 0 0;
        margin: -20px -20px 0 -20px;
        padding: 22px 20px 0 20px;
        background: $colorGreyLight;
      }

      &:hover {
        .widget-content {
          background: #f3f3f3;
        }
      }
    }
  }

  &:hover {
    background: #f3f3f3;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
    transition: 0.2s ease-in;

    .widget__control {
      display: block;
    }
  }
}
