@import "./styles/utils";

.application {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  @include media("mobile") {
    min-width: 100%;
  }

  &-content {
    flex: 1;

    @include media("mobile") {
      margin-top: 51px;

      @supports (position: sticky) {
        margin-top: 0;
      }
    }
  }

  &_state {
    &-frozen {
      height: 100%;
      overflow: hidden;
    }

    &-blured {
      filter: blur(3px);
    }
  }
}

.dashboard {
  padding: 0 $paddingSideDesktop;
  max-width: 1400px;
  margin: 0 auto 80px;
  width: 100%;

  @include media("mobile") {
    padding: 0 $paddingSideMobile;
  }

  @include media("bigDesktop") {
    min-width: 1600px;
  }

  &-title {
    font-family: $fontBold;
    font-size: rem(36);
    color: #333333;
    margin: 34px 0 32px;

    @include media("mobile") {
      margin: 20px 0;
      font-size: rem(24);
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: dense;
    grid-row-gap: 20px;
    grid-column-gap: 14px;

    @include media("mobile") {
      display: block;
    }
  }

  &-videocontrol {
    margin-top: 20px;
  }
}
